@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000, #15af18) content-box;
  mask: repeating-conic-gradient(
    #0000 0deg,
    #000 1deg calc(360deg/20 - 5.5deg - 1deg),
    #0000 calc(360deg/20 - 5.5deg) calc(360deg/20)
  ), radial-gradient(
    farthest-side,
    #0000 calc(98% - 8px),
    #000 calc(100% - 8px)
  );
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
  animation: spin 950ms infinite steps(20);
}
@keyframes spin { to { transform: rotate(1turn) } }
